.hero-img {
    width: 200px;
    transition: transform 0.3s;
}

.hero-img:hover {
    transform: scale(1.1);
}

body {
    text-align: center;
    background-image: url('images/dota-2-no-dpc-announcement-wallpaper-but-its-high-res-v0-vfhvs7ru6dob1.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
}